@import '~@ktsstudio/mediaproject-style/dist/mixins';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}
.photo {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../img/morpheus.jpg') no-repeat center / cover;
}

.title {
  color: white;
  font-size: 36px;
}

.modal {
  position: absolute;
  top: 100px;
  left: 100px;
  height: 100px;
  width: 100px;
  z-index: 100;
  color: white;
  font-size: 36px;
}
